body{

    background-color: #E6E1E1;
}

.image-text-container .image-container img{
    transition: transform .5s ease, opacity 5s ease; /* Transition the scaling effect */


}
.image-text-container:hover .image-container img {

    content: url(https://i.imgur.com/dURRlKC.png);
    height: 28%; 
    width: 28%; 
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    transform: scale(1.2); 
    opacity: 0.4;
} 

h1{

    color: rgb(0, 102, 255); 
    font-family: "Handjet", serif;
    font-weight: 700; 
    text-align: center;
    text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
}
button{
    background-color: #FFFFFF;
    font-family: "Handjet", serif;
    border: none;
    font-weight: 700;
    color: #5ebfd0;
    text-shadow:
    -1px -2px 0 #008FA8,  
     1px -2px 0 #008FA8,
     -1px 2px 0 #008FA8,
      1px 2px 0 #008FA8;
    padding: 12px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 35px;
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 20px;    

  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  .container {
    height: 200px;
    position: relative;
  
  }
  
  .vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  a{
    text-decoration: none;
    color:#5ebfd0;
  }

  a:visited{
    color: #5ebfd0;
  }
  a:hover{
    color:#FF0000;
    text-shadow:none;

  }
  a:hover .hover-t {
    color: #008FA8;
    text-shadow:none;
}

a:hover .hover-h {
    color: #FF0000;
    text-shadow:none;
}

a:hover .hover-e {
    color: #FFEE00;
    text-shadow:none;
}

a:hover .hover-space {
    color: inherit;

}

a:hover .hover-t2 {
    color: #0DFF00;
    text-shadow:none;
}

a:hover .hover-e2 {
    color: #008FA8;
    text-shadow:none;
}

a:hover .hover-l {
    color: #0DFF00;
    text-shadow:none;
}

a:hover .hover-e3 {
    color: #FF0000;
    text-shadow:none;
}

a:hover .hover-p {
    color: #FFEE00;
    text-shadow:none;
}

a:hover .hover-h2 {
    color: #008FA8;
    text-shadow:none;
}

a:hover .hover-o {
    color: #0DFF00;
    text-shadow:none;
}

a:hover .hover-n {
    color: #008FA8;
    text-shadow:none;
}

a:hover .hover-e4 {
    color: #FFEE00;
    text-shadow:none;
}

a:hover .hover-space2 {
    color: inherit;
}

a:hover .hover-g {
    color: #FF0000;
    text-shadow:none;
}

a:hover .hover-a {
    color: #008FA8;
    text-shadow:none;
}

a:hover .hover-m {
    color: #0DFF00;
    text-shadow:none;
}

a:hover .hover-e5 {
    color: #FF0000;
    text-shadow:none;
}
