body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;

}
.dotcontainer{
  width:100%;
  height:100px;
  padding-top: 50px;
}

.blue1{
height: 120px;
width: 120px;
margin-bottom: -55px;
margin-left: 45px;

}

.red1{
  height: 90px;
  width: 90px;
  margin-bottom: 10px;
  margin-left: -37px;
  
  }

.green1{
    height: 70px;
    width: 70px;
    margin-bottom: -10px;
    margin-left: 100px;
    
    }

.blue2{
   height: 40px;
    width: 40px;
   margin-bottom: -65px;
      margin-right: 100px;
      
      }

      .yellow2{
        height: 50px;
         width: 50px;
        margin-bottom:-190px;
           margin-left:-500px;
           
           }

.yellow1{
  height:150px;
  width: 150px;
  margin-bottom: -55px;
  margin-left: 2400px;

}

.red2{
  height:65px;
  width:65px;
  margin-top: -45px;
  margin-left: 2300px;

}

.green2{
  height: 30px;
   width: 30px;
  margin-bottom:-160px;
     margin-left:2600px;
     
     }

     .blue3{
      height: 100px;
       width: 100px;
      margin-top:-60px;
         margin-left:2470px;
                 }


                 .blue1, .red1, .green1, .blue2, .yellow2, .yellow1, .red2, .green2, .blue3 {
                  transition: transform 0.5s ease-in-out; 
                }

         .blue1:hover {
          transform: translateY(-50px) scale(1.2); /* Move up by 20px */
        }
        
        .red1:hover {
          transform: translateY(30px) scale(1.1); /* Move down by 10px */
        }
        
        .green1:hover {
          transform: translateY(-15px) scale(2.1); /* Move up by 15px */
        }
        
        .blue2:hover {
          transform: translateY(35px); /* Move down by 10px */
        }
        
        .yellow2:hover {
          transform: translateY(-25px) scale(2.1); /* Move up by 25px */
        }
        
        .yellow1:hover {
          transform: translateY(25px) scale(1.1); /* Move down by 15px */
        }
        
        .red2:hover {
          transform: translateY(-40px) scale(1.1); /* Move up by 30px */
        }
        
        .green2:hover {
          transform: translateY(25px) scale(3.5); /* Move down by 5px */
        }
        
        .blue3:hover {
          transform: translateY(-20px); /* Move up by 20px */
        }

.whatisit{
margin-left: 300px;
margin-right: 300px;
font-size: 3.1em;
margin-bottom: 25px;
font-family: "Jersey 15", serif;
font-weight: 300;
text-align: justify;
color: #008FA8;
}


.text{
  margin-top: -40px;
  align-items: center;
  font-family: "Handjet", serif;
  font-weight: 680;
  color: #ffffff;
  text-shadow:
   -2px -2px 0 rgb(0, 102, 255),  
   2px -2px 0 rgb(0, 102, 255),
    -2px 2px 0 rgb(0, 102, 255),
     2px 2px 0 rgb(0, 102, 255);
  font-size: 6.8em;
  letter-spacing: 10px;
  border-right:5px solid;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 2s steps(18),
  cursor .4s step-end infinite alternate;
}

@keyframes cursor{
  50%{border-color: transparent;}
}

@keyframes typing{
  from{width: 0 }
}


.glow-on-hover {
  width: 125px;
  height: 125px;
  border: none;
  outline: none;
  color: #008FA8;
  background: #ffffff;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 50%;
  
}

.glow-on-hover:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 600%;
  z-index: -1;
  filter: blur(10px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 50%;
}

.glow-on-hover:active {
  font-family: "Handjet", serif;
  color: white;
  font-weight: 500;
  font-size: 32px;
}

.glow-on-hover:active:after {
  background: transparent;
  transition: opacity .3s ease-in-out;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #008FA8;
  left: 0;
  top: 0;
  border-radius: 50%;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}

